*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header{
    width: 80%;
    margin: 55px auto;
}

header div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading p{
    font-size: 31.93px;
    font-weight: 700;

}

.link{
    display: flex;
    justify-content: space-between;
    width: 120%; 
    flex-wrap: wrap;
    
}

header div nav a{
    color: black;
    text-decoration: none;
} 

.link-1{
    font-weight: 600;
}

.cont{
    display: flex;
    justify-content: space-between;

}

.cont-11{
    width: 120%;
}

.btn{
    width: 142px;
    height: 49px;
    margin-left: 300px ;
    background-color: #2C3878;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup{
    text-align: center;
}

#modal:checked ~ .popup div{
    top: 180px;
    right:  0px;

}

input[type="text"],[type="email"],[type="tel"] {
    padding-left: 20px;
}

.popup div{
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
    position:absolute;
    z-index: 4;
    right:  220px;
    top: -950px;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

}

.submit input{
    width: 142px;
    height: 49px;
    background-color: #2C3878;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit input:hover{
    background-color: #0f1536;
}

.popup div p{
    text-align: center;
}

.btn:hover{
    background-color: #0f1536;

}

.dropdown-1{
    font-size: 56px;
    font-weight: 700;
    line-height: 79px;

}

.dropdown-2{
    font-size: 18px;
}

#modal{
    display: none;
}

#burger, [for=burger]{
    display: none;
}

.dropdown-3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

textarea, .dropdown-3 input{
    width: 400px;
    border: 1px solid #9C9C9C;
}

.dropdown-3 input{
    height: 30px;
}

textarea{
    height: 70px;
}

main{
    width: 80%;
    margin: 0 auto;
}

.title{
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    margin-top: 80px;
    text-align: center;
}

.subtitle{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 30px;
}

.image{
    margin-top: 80px;
    width: 100%;
    margin-bottom: 100px;
}

.wrapper-2{
    display: flex;
    align-items: center;
    
}

.wrapper-2 div:last-child{
    width: 430px;
    height: 2px;
    background-color: black;
    margin-left: 20px;
}

.subtitle-1{
    font-size: 36px;
    line-height: 61px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;

}

.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2C3878;
    color: #fff;
    width: 17%;
    text-align: center;

}


.container-2 div p:first-child{
    padding-top:50px ;
    font-size: 52px;
}

.container-2 div p:last-child{
    padding-top: 10px;

}

.wrapper-1{
    padding-bottom: 45px;
}

.choose{
    margin-bottom: 25px;
}

.subtitle-2{
    color: #9C9C9C;
    font-size: 18px;
    width: 40%;

}

.holder-1{
    margin-right: 18px;
    margin-top: 40px;
    padding: 25px;
    border: 1px solid #9C9C9C;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.flex div:last-child{
    margin-right: 0px;
}

.Ellipse{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #9C9C9C;
    margin: 0 auto;
}

.title-1{
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    margin-top: 20px;
}

.subtitle-3{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9C9C9C;
    margin-top: 20px;
}

.main2{
    margin-top: 100px;
    background-color: #2C3878;
    height: 210px;
    width: 100%;
}

.main2 div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    height: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    flex: 0 0 45%;

}

.box div form button{
    width: 142px;
    height: 49px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.box-1{
    color: #fff;
    padding-right: 50px;

}

.wrapper-3{
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
}

.wrapper-4{
    width: 50%;
    font-size: 18px;
    line-height: 28.8px;
    color: #9C9C9C;
    margin-top: 10px;
    margin-bottom: 5px;
}

footer{
    width: 90%;
    margin: 80px auto;
}

footer div{
    display: flex;
    justify-content: space-between;

}

footer div div {
    display: flex;
    flex-direction: column;

}

footer div:last-child div:last-child div:last-child div:last-child{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 10px;

}

footer div:last-child div:last-child div:last-child div:first-child{
    margin-left: 80px;
    margin-top: 10px;
}

footer div:last-child div:last-child div:last-child div:last-child img{
    background-color: #9C9C9C;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    margin-right: 20px;
}

footer div:last-child div:last-child div:last-child div:last-child img:nth-child(1):hover{
    background-color: rgb(175, 27, 93);
}

footer div:last-child div:last-child div:last-child div:last-child img:nth-child(2):hover{
    background-color: #3b5998;
}

footer div:last-child div:last-child div:last-child div:last-child img:nth-child(3):hover{
    background-color: rgb(82, 82, 82);

}

footer div:last-child div:last-child div:last-child div:last-child img:nth-child(4):hover{
    background-color:#c4302b;

}

footer div div:first-child div:first-child p{
    font-size: 31.93px;
    font-weight: 700;

}

footer div div:first-child div:last-child{
    font-size: 36px;
    width: 90%;
    font-weight: 500;
    line-height: 61px;
    margin-top: 15px;
}

.cont-5 p::before{
    content: url(Ellipse74.png) ;
    margin-right: 10px;
    margin-bottom: 30px;


}
.cont-5 p{
    font-size: 18px;
    line-height: 28px;
}

footer form input{
    font-size: 180%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 0;
    background-color: #fff;
}

footer form input::placeholder{
    font-size: 16px;

}

footer form input:last-child{
font-size: 30px;
border: none;
cursor: pointer;
}

@media(max-width: 800px){

    .link{
        margin-left: 50px;
        flex: 1 0 100%;
    }

    .btn{
        margin-left: 150px;
    }

    .flex{
        flex-direction: column;
    }

    .flex div img{
        width: 100%;
    }

    .container-2{
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-around;
        width: 100%;
        text-align: center;
    }
    
    .container-2 div p:first-child{
        padding-top:10px ;
        font-size: 32px;
    }
    
    .container-2 div p:last-child{
        padding-top: 10px;
    }

    .wrapper-1{
        padding-bottom: 15px;
    }

    .subtitle-1{
        line-height: 41px;
    }

    .holder-1{
        margin-right: 0px;

    }

    .subtitle-2{
        width: 90%;
    }

    footer div div:first-child div:first-child p{
        font-size: 25.93px;
    
    }

    footer div div:first-child div:last-child{
        font-size: 25px;

    }

    footer form input{
        font-size: 140%;
    }

    footer div:last-child div:last-child div:last-child div:first-child{

        margin-top: 15px;
    }
}

@media(max-width: 600px){
    .wrap{
        margin-left: -110px;
        
    }

    .cont {

        order: -1;
        margin-left: -50px;
    }

    [for=burger]{
        display: block;
        font-size: 4rem;
        cursor: pointer;
        margin-left: 50px;
        
    }

    #burger:checked + label + nav{
        display: flex;
        position: absolute;
        text-align: center;
        right: 0;
        width: 100%;
        margin-top: 520px;
        flex-direction: column;
        justify-content: space-evenly;
        color: #000;
        background-color: rgb(255, 255, 255);;
        height: 400px;
        z-index: 3;
    }

    .link{
        display: none;
    }

    .container-2 div p:last-child{
        width: 80%;
        margin: 0 auto;
        padding-top: 0px;
    }

    .subtitle-2{
        width: 80%;
    }

    .box{
        padding-top: 5px;
    }

        footer div div:first-child div:last-child{
        font-size: 20px;

    }

    footer form input{
        font-size: 110%;
    }

    footer div:last-child div:last-child div:last-child div:first-child{
        margin-top: 25px;
        margin-right: 50px;
    }
}